<!-- HTML for the expense itself -->
<div class="text-center"></div>
    <h1>{{name}}</h1>
    <p>${{cost}} is due: {{due_date_range}}</p>
    <p>{{description}}</p>
    <p>{{billtype}}</p>
    <p>
        <button class="btn btn-danger mark-paid" data-id="{{id}}">Mark as paid!</button>
    </p>
</div>

<script src="/js/profile.js"></script>