<!-- HTML for the expense itself -->
<div class="text-center"></div>
    <h1>{{name}}</h1>
    <h2>{{Newexpense.cost}} is due: {{Newexpense.due_date_range}}</h2>
    <p>{{description}}</p>
    <p>{{Newexpense.billtype}}</p>
    <p>
        <button class="btn btn-danger">Mark as paid!</button>
    </p>
</div>